@charset "UTF-8";

h1{
    color: white;
    background-color: black;
}

h1#principal{
    color: black;
    background-color: blueviolet;

}

p{
    font-family:  Arial, sans-serif;
    font-weight: normal;
}

.basico{
    color: yellow;
    background-color: blue;
}

.intermediario{
    color: chocolate;
    background-color: white;
}

.avancado{
    color: red;
    background-color: white;
}

