@charset "UTF-8";

@font-face {
    font-family: 'tipo-1';
    src: url(fontes/PatrickHand-Regular.ttf);
}
@font-face {
    font-family: 'tipo-2';
    src: url(fontes/Bleeding_Cowboys.ttf);
}

@font-face {
    font-family: 'tipo-3';
    src: url(fontes/PatrickHand-Regular.ttf);
}

body{
    background-image: linear-gradient(to bottom, #000000, rgba(98, 22, 170, 0.973) );
    text-align: center;
    
}

h1{
    font-family: 'tipo-1';
    font-weight: bolder;
    font-size: 32px;
    font-style: normal;
    color: white;
}

h1#principal{
    font-family: 'tipo-2';
    text-decoration: underline;
    color: whitesmoke;

}

h2{
    color: white;
    text-decoration: underline;
}

p{
    font-family: 'tipo-3' ;
    color:cornsilk
}

div{
    color: aqua;
    
}

div:hover{
    color: red;
}

div > p{
    display: none;
    color: cadetblue;

}

div:hover > p{
    display: block;
    
}

.basico{
    color: rgb(202, 202, 26);
    font-weight: inherit;
    
}

.intermediario{
    color: red;
}

.avancado{
    color:rgb(241, 143, 14);
}

