html {
    color: #fff;
    scroll-behavior: smooth;
}

body{
     
    background-color:
        #282828;
    font-family: "poppins",
        sans-serif;
    margin: 0 auto;
    max-width: 1120px;
    background: linear-gradient(150deg, #000000, #9e00ff);

    
}

h1{
   text-align: center;
   text-shadow:  1px 1px 2px black;
}

h2{
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

p{
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

 
