@charset "UTF-8";

@font-face {
    font-family: 'love';
    src: url(fonts/Anthony\ Hunter.otf),
    url(fonts/Anthony\ Hunter.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tipo';
    src: url(fonts/Aston\ Script.ttf);
}

@font-face {
    font-family: 'bom';
    src: url(fonts/Deutschlands.ttf);
}

body{
    font-family: sans-serif;
}

h1{
    font-family: 'tipo', Times, serif;
    font-weight: normal;
    font-style: normal;
}

h2{
   font-family: 'tipo';
}

p{
    font-family: 'bom';
}